set -gx KUBE_EDITOR nvim
set -gx VISUAL nvim
set -gx EDITOR nvim
set -gx HOMEBREW_NO_ANALYTICS 1
set -gx HOMEBREW_NO_AUTO_UPDATE 1
set -gx HOMEBREW_NO_INSTALL_CLEANUP 1
set -gx HOMEBREW_NO_ENV_HINTS 1
set -gx GOPATH {{ .chezmoi.homeDir }}/.go
set -gx ANSIBLE_FORCE_COLOR true
set -gx ANSIBLE_HOST_KEY_CHECKING False
set -gx PY_COLORS true
set -gx GPG_TTY (tty)
set -gx NVIM_THEME "gruvbox_material"

set -gx LANG "en_US.UTF-8"
set -gx LC_ALL "en_US.UTF-8"
set -gx LC_CTYPE "en_US.UTF-8"

{{- if stat (joinPath .chezmoi.homeDir ".config/sops/age/keys.txt") }}
set -gx SOPS_AGE_KEY_FILE {{ .chezmoi.homeDir }}/.config/sops/age/keys.txt
{{- end }}

{{- if stat (joinPath .chezmoi.homeDir ".ansible/vault.txt") }}
set -gx ANSIBLE_VAULT_PASSWORD_FILE {{ .chezmoi.homeDir }}/.ansible/vault.txt
{{- end }}

fish_add_path "{{ .chezmoi.homeDir }}/.local/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.cargo/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.krew/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.go/bin"

{{- if lookPath "/opt/homebrew/bin/brew" }}
fish_add_path "/opt/homebrew/opt/ruby/bin"
set -gx LDFLAGS "-L/opt/homebrew/opt/ruby/lib"
set -gx CPPFLAGS "-I/opt/homebrew/opt/ruby/include"

if status --is-interactive
    eval (/opt/homebrew/bin/brew shellenv)
    atuin init fish | source
end
{{- end }}

{{- if lookPath "/home/linuxbrew/.linuxbrew/bin/brew" }}
if status --is-interactive
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end
{{- end }}

if type -q thefuck
    thefuck --alias | source
end

if type -q starship
    starship init fish | source
end

if type -q zoxide
    zoxide init --cmd cd fish | source
end

if type -q fzf
    fzf --fish | source
end

if type -q kubectl
    kubectl completion fish | source
end

if type -q helm
    helm completion fish | source
end
