Host *
  AddKeysToAgent yes
  Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc
  PasswordAuthentication no
  MACs hmac-md5,hmac-sha1,umac-64@openssh.com,hmac-sha2-256
  ConnectTimeout 20
  IdentityFile ~/.ssh/gh_ssh_key
  IdentityFile ~/.ssh/id_ed25519
{{- if (eq .chezmoi.os "darwin") }}
  IgnoreUnknown UseKeychain
  UseKeychain yes
{{- end }}

Host devbox
  HostName devbox
  User stephen
  IdentityFile ~/.ssh/id_ed25519
Host proxmox
  HostName 192.168.0.3
  User root
Host truenas
  HostName 192.168.20.14
  User root
  IdentityFile ~/.ssh/id_ed25519
Host cisco_switch
  HostName 192.168.10.254
  User snoopy82481
  IdentitiesOnly=yes
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  KexAlgorithms diffie-hellman-group-exchange-sha1
  KexAlgorithms diffie-hellman-group14-sha1
  StrictHostKeyChecking no
Host 192.168.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 172.16.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 10.*.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
