Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/gh_ssh_key
  IdentityFile ~/.ssh/id_ed25519
{{- if (eq .chezmoi.os "darwin") }}
  IgnoreUnknown UseKeychain
  UseKeychain yes
{{- end }}

Host devbox
  HostName devbox
  User stephen
Host cisco_switch
  HostName 192.168.10.254
  User snoopy82481
  IdentitiesOnly=yes
  PreferredAuthentications publickey
  IdentityFile C:\Users\snoop\.ssh\id_rsa
  KexAlgorithms diffie-hellman-group-exchange-sha1
  KexAlgorithms diffie-hellman-group14-sha1
Host 192.168.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 172.16.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 10.*.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
